body {
    background: #323e5f;
}

.mainBlock {
    min-height: 100px;
    width: 550px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    border: solid 4px #87ffe6;
}

.numberBlock {
    height: 250px;
    background: #87ffe6;
    border-radius: 10px;
    font-size: 150px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blockBottoms {
    font-size: 80px;
    border: solid 5px #87ffe6;
    border-radius: 10px;
    margin-top: 20px;
    color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.buttons {
    padding: 20px 30px;
    background: #87ffe6;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 50px;
    border: #447e73 solid 3px;
}

.buttons:focus, active {
    outline: none;
}

.buttons:hover {
    cursor: pointer;
}

.disableCursor {
    padding: 20px 30px;
    background: #87ffe6;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 50px;
    border: #447e73 solid 3px;
}

.disableCursor:hover {
    cursor: no-drop;
}

.value {
    font-size: 150px;
    color: #ff0000;
}

.flexTwoBlocks{
    display: flex;
    justify-content: space-around;
}
.blocksInputs{
    background: #87ffe6;
    border-radius: 10px;
}

.inputs2{
    height: 30px;
    width: 150px;
    display: block;
    margin-right: 20px;
    font-size: 20px;
}

.maxValue{
    font-size: 40px;
    text-transform: uppercase;
    margin-left: 20px;
}
.startValue{
    font-size: 40px;
    text-transform: uppercase;
    margin-left: 20px;
}

.flexBlocksInp{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.positionSet{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.enterValue{
    font-size: 35px;
}

.inputStyle{
    height: 30px;
    width: 150px;
    display: block;
    margin-right: 20px;
    font-size: 20px;
    background: #fd8a9f;
    border: solid red 2px
}